<h1>exo ici</h1>

<% if (user === null) { %>
    <form action="/home/connect" method="post" >

        <label for="alias"> alias </label>
        <input type="text" name="alias" id="alias"> <br />
        <input type="submit" value="Valider">

    </form>
<% }else {%>

        <p>Bonjour <%= user %></p>
        <form action="/home/disConnect" method="post">
            <input type="submit" value="disConnect">
        </form>

<% } %>
 
 